<%= render "layouts/errors", :object => @product %>

<%= form_for @product do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %> <br>
  <label for="product_cost_in_usa_cents">Cost  $</label>
  <input type="number"  step=".01" value="<%='%.02f' % @tmp%>" name="product[cost_in_usa_cents]" id="product_cost_in_usa_cents"> <br>


  <%= f.label :country_of_origin %>
  <%= f.text_field :country_of_origin %> <br>
  <%= f.submit %>
<% end %>
